body,
textarea,
input{
  font-family:  var(--fontFamily);
  font-size: var(--fontSize);
  color: var(--colorBlack);
}

p {
  line-height: var(--lineHeight);
}

h1 {
  font-size: var(--fontSizeLarge);
}

h2 {
  font-size: var(--fontSizeLarge);
  text-align: center;
  padding-top: var(--spaceLarge);
  padding-bottom: var(--spaceMedium);
}

h3 {
  font-size: var(--fontSizeHeader3);
}
