body {
  font-family:  var(--fontFamily);
  font-size: var(--fontSize);
  color: var(--colorBlack);
}

h3 {
  font-size: var(--fontSizeHeader3);
  padding-top: var(--spaceMedium);
  padding-bottom: var(--spaceSmall);
  border-bottom: 1px solid var(--colorLightGray);
  margin-bottom: var(--spaceSmall);
}
