{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block body %}
    <div class="Content Content--top Content--GreyBg ">
        <div class="Content-Block u-align-center">
        <form method="post" class="Form Form--short">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="Form-avatar u-align-center u-margin-top-bottom">
                <img src="/img/avatar.png" alt="avatar" />
            </div>

            <h3 class="u-text-center u-margin-bottom">Prisijungti</h3>

            <div class="Form-item">
                <label for="floatField">El. paštas</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required />
            </div>
            <div class="Form-item">
                <label for="floatField">Slaptažodis</label>
                <input type="password" name="password" id="inputPassword" required />
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}



            <button class="Button Button--blue Button--long" type="submit">
               Prisijungti
            </button>

            {#TODO: fb ir google buttonai, netrinti#}
            {#<div>#}
                {#<p>arba</p>#}
            {#</div>#}

            {#<div>#}
                {#<button class="Button Button--fb" type="submit">FB</button>#}
                {#<button class="Button Button--google" type="submit">Google</button>#}
            {#</div>#}


            </form>
        </div>
    </div>


    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ parent() }}
{% endblock %}
