{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block body %}
    <div class="Content Content--top Content--GreyBg ">
        <div class="Content-Block u-align-center">

            <div class="Form Form-background Form--short">
                <div id="LoginForm"
                     data-authenticate={{ csrf_token('authenticate') }}
                ></div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

            <script>
                var usingVersionedFileJs = true;
                var usingReactApp = true;
            </script>
            {{ parent() }}
        </div>
    </div>

{% endblock %}
