{% extends 'base.html.twig' %}

{% block title %} Workchase {% endblock %}

{% block ads %}
    <section class="Ads">
        {% for advert in filteredAdverts %}
        <section class="Ad">
            <header class="Ad-header">
                <div class="Date">2019-01-10</div>
                <div class="Bid">
                    <span class="Bid-header">Aplikavo</span>
                    <span class="Bid-count">34</span>
                </div>
            </header>
            <h3 class="Header">{{ advert.title }}</h3>
            <div class="Ad-body">
                <div>
                    <p>{{ advert.text }}</p>
                </div>
                <button class="Button">Plačiau</button>
            </div>
            <footer class="Ad-footer">
               <ul class="Ad-categories">
                   <li class="Category Category--red">Statybos</li>
                   <li class="Category Category--purple">Lauko statybos</li>
                   <li class="Category Category--green">Remontas</li>
                   <li class="Category Category--yellow">Elektra</li>
               </ul>
            </footer>
        </section>
        {% endfor %}
    </section>
{% endblock %}

{% block filter %}
    <section>
        <ul class="FilterBar">
            {% for category in availableCategories %}
            <li>
                <a class="Category Category--filter Category--lightGreen {% if category.slug not in selectedCategorySlugs %}not-active{% endif %}"
                   href="?filter={{ toggleQueryStrings[category.slug] }}">
                    <span class="Filter-title">{{ category.title }}</span>
                    <span class="Filter-icon">
                        {% if category.slug not in selectedCategorySlugs %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
