<section class="Item not-active">
    <section class="Item-block">
        <div class="Item-content">

            <div class="Item-header">
                <a href='{{ path('user_profile', {'identification': offer.user.identification }) }}'>
                    <span class="Item-image">
                        <img src="/img/user1.png" alt="user">
                    </span>
                </a>
                <span class="Item-date">{{ offer.createdAt|date("Y-m-d") }}</span>
            </div>

            <div class="Item-text">
                <div class="Item-author">{{ offer.user.username }}</div>
                <p class="Paragraph">{{ offer.text }}</p>
            </div>

            <div class="u-margin-top-bottom u-align-space-around">

            </div>

        </div>
    </section>
</section>
