{% extends 'base.html.twig' %}

{% block body %}

<div class="Content Content--top">
    <div class="Content-Block">
    </div>
</div>

<div class="Content Content--GreyBg">
    <div class="Content-Block u-padding-top">
        <section id="Ads" class="LayoutGrid LayoutGrid--col3">

            <section class="Comments">
                <section class="Comments-block">
                    <div class="Comments-content">
                        <div>Skelbimas</div>
                        <div>Autorius: Vardenis Pavardenis</div>
                        <div class="Comments-header">

                            <h3 class="Header">Baldų surinkimas</h3>
                        </div>
                        <div class="Comments-text">
                            <div class="Comments-author">Mano pasiūlymas:</div>
                            <p>Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                        </div>
                        <div class="u-margin-top-bottom u-align-space-around">
                            <span class="Header-3"><i class="far fa-clock"></i> Laukiama</span>
                        </div>
                    </div>
                </section>
            </section>

             <section class="Comments">
                 <section class="Comments-block">
                     <div class="Comments-content">
                         <div class="Comments-header">
                             <h3 class="Header">Baldų surinkimas</h3>
                         </div>
                         <div class="Comments-text">
                             <div class="Comments-author">Mano pasiūlymas:</div>
                             <p>Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                         </div>
                         <div class="u-margin-top-bottom u-align-space-around">
                             <span class="Header-3"><i class="far fa-clock"></i> Laukiama</span>
                         </div>
                     </div>
                 </section>
             </section>


             <section class="Comments">
                 <section class="Comments-block">
                     <div class="Comments-content">
                         <div class="Comments-header">
                             <h3 class="Header">Baldų surinkimas</h3>
                         </div>
                         <div class="Comments-text">
                             <div class="Comments-author">Mano pasiūlymas:</div>
                             <p>Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                         </div>
                         <div class="u-margin-top-bottom u-align-space-around">
                             <span class="Header-3 Header--green"><i class="far fa-check-circle"></i> Priimtas</span>
                         </div>
                     </div>
                 </section>
             </section>

             <section class="Comments">
                 <section class="Comments-block">
                     <div class="Comments-content">
                         <div class="Comments-header">
                            <h3 class="Header">Baldų surinkimas</h3>
                         </div>
                         <div class="Comments-text">
                             <div class="Comments-author">Mano pasiūlymas:</div>
                             <p>Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                         </div>
                         <div class="u-margin-top-bottom u-align-space-around">
                             <span class="Header-3 Header--red"><i class="far fa-times-circle"></i> Atmestas</span>
                         </div>
                     </div>
                 </section>
        </section>
    </div>
</div>

{% endblock %}
