{% extends 'base.html.twig' %}

{% block body %}

<div class="Content Content--top">
    <div class="Content-Block">
    </div>
</div>

<div class="Content Content--GreyBg">
    <div class="Content-Block u-padding-top">

        <section id="myOffers" class="LayoutLine">

            {#----- start item block --------#}
            <section class="LayoutLine-item LayoutLine-item--link">
                <div class="LayoutLine-col-3">
                    <p class="Header5">Skelbimas</p>
                    <h3 class="Header1">Baldų surinkimas</h3>
                </div>

                <div class="LayoutLine-col-6">
                    <p class="Header5">Mano pasiūlymas</p>
                    <p class="Paragraph Paragraph--lineLimit-4">Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                </div>

                <div class="LayoutLine-col-3">
                    <div class="u-margin-top-bottom u-align-space-around">
                        <div class="Header2 u-align-middle"><i class="far fa-clock"></i> <span> Laukiama</span></div>
                    </div>
                </div>
            </section>
            {#----- end item block --------#}

            {#----- start item block --------#}
            <section class="LayoutLine-item LayoutLine-item--link">
                <div class="LayoutLine-col-3">
                    <p class="Header5">Skelbimas</p>
                    <h3 class="Header1">Baldų surinkimas</h3>
                </div>

                <div class="LayoutLine-col-6">
                    <p class="Header5">Mano pasiūlymas</p>
                    <p class="Paragraph Paragraph--lineLimit-4">Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                </div>

                <div class="LayoutLine-col-3">
                    <div class="u-margin-top-bottom u-align-space-around">
                        <p class="Header2 u-align-middle u-color-green"><i class="far fa-check-circle"></i><span>Priimtas</span></p>
                    </div>
                </div>
            </section>
            {#----- end item block --------#}

            {#----- start item block --------#}
            <section class="LayoutLine-item LayoutLine-item--link">
                <div class="LayoutLine-col-3">
                    <p class="Header5">Skelbimas</p>
                    <h3 class="Header1">Baldų surinkimas</h3>
                </div>

                <div class="LayoutLine-col-6">
                    <p class="Header5">Mano pasiūlymas</p>
                    <p class="Paragraph Paragraph--lineLimit-4">Specialistai, turintys ilgametę patirtį elektros instaliacijos srityje, atlieka lauko ir vidaus elektros instaliaciją, konsultuoja, pataria, padeda išsirinkti optimalų sprendimą, paruošia dokumentus ESO.</p>
                </div>

                <div class="LayoutLine-col-3">
                    <div class="u-margin-top-bottom u-align-space-around">
                        <p class="Header2 u-align-middle u-color-red"><i class="far fa-times-circle"></i><span>Atmestas</span></p>
                    </div>
                </div>
            </section>
            {#----- end item block --------#}

        </section>

    </div>
</div>

{% endblock %}
