//.StatusBlock {
//  float: right;
//  width: auto;
//  padding: var(--spaceLarge);
//
//  &-icon {
//    display: inline-block;
//	width: var(--imgMedium);
//  }
//  &-title {
//	margin-top: var(--spaceTopBotTextMedium);
//  }
//}
