.Nav {
  &-toggle {
	display: none;
  }
  *:focus {
	outline:none;
  }
  
  &-menu {
	display: inline-flex;
	flex-direction: row;
	visibility: visible;
	height: auto;
  }
  
  &-avatar {
	display: block;
	width: 50px;
  }
  
  &-dropdown {
	display: flex;
	align-items: center;
	cursor: pointer;
  }
  
  &-subItem {
	@include transitionAll();
	&:hover {
	  background-color: var(--colorLightGray);
	}
  }
  
  &-item {
	margin-left: var(--spaceLarge);
	list-style-type: none;
	opacity: 1;
 
	& > .dropdown {
	  @include transitionAll();
	  display: none;
	  margin-top: 20px;
	  position: absolute;
	  right: 0;
	  z-index: 1;
	  background-color: var(--colorLightGray2);
	  padding: 0;
	  
	  &:after {
		content: '';
		position: absolute;
		top: 0;
		right: 20%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-bottom-color: var(--colorLightGray2);
		border-top: 0;
		border-right: 10px;
		margin-top: -20px;
	  }
	}
 
	& > .dropdown.is-visible {
	  @include transitionAll();
	  display: block;
	}
  }
  
  
  @for $i from 1 through 5 {
	&-item:nth-child(#{$i}){
	  transform:translateY(0px * $i);
	}
  }
  
  &-link {
	padding: var(--spaceSmall) var(--spaceLarge);
	color: var(--colorGrey);
	display: block;
	letter-spacing: 0.2px;
	font-size: var(--fontSize);
	text-transform: none;
	transition: text-shadow .3s;
 
	&:hover,
	&:focus{
	  background-color: transparent;
	  text-shadow: 0 0 .25px var(--colorMain), 0 0 .25px var(--colorMain);
	  color: var(--colorMain);
	  
	}
 
	&--login {
	  @include button();
	  padding-left: var(--spaceLeftRightTexMedium);
	  padding-right: var(--spaceLeftRightTexMedium);
	  background-color: var(--colorMain);
	  border-color: var(--colorMain);
	  color: var(--colorWhite);
	  &:hover {
		border-color: var(--colorGrey);
	  }
	}
  }
}

.menuicon {
  display: none;
}

