.Header1 {
  @include hyphens();
  padding-bottom: var(--spaceSmall);
  margin-bottom: var(--spaceSmall);
  
  &--mainColor {
    color: var(--colorMain);
  }
  
  &--red {
    color: var(--colorRed)
  }
  
  &--green {
    color: var(--colorLightGreen)
  }
}

