@mixin box-shadow() {
  -webkit-box-shadow: 0px 0px 19px -2px rgba(209,209,209,0.3);
  -moz-box-shadow: 0px 0px 19px -2px rgba(209,209,209,0.3);
  -o-box-shadow: 0px 0px 19px -2px rgba(209,209,209,0.3);
  box-shadow: 0px 0px 19px -2px rgba(209,209,209,0.3);
}

@mixin box-shadow-hover() {
  -webkit-box-shadow: 0px 0px 19px -2px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 19px -2px rgba(209,209,209,1);
  -o-box-shadow: 0px 0px 19px -2px rgba(209,209,209,1);
  box-shadow: 0px 0px 19px -2px rgba(209,209,209,1);
}

@mixin drop-shadow() {
  filter: drop-shadow(rgba(209,209,209, 0.7) 0px 2px 10px);
  -webkit-filter: drop-shadow(rgba(209,209,209, 0.7) 0 2px 20px);
}

@mixin categoryColor($color) {
  border-color: $color;
  background-color: $color;

  &.not-active {
    background-color: white;
    color: $color;
  }
}

@mixin transitionAll(){
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@mixin borderRadiusFull() {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

@mixin shadowBlockForm() {
  @include box-shadow();
  display: inline-block;
  padding: var(--spaceMedium);
  background-color: var(--colorWhite);
  border-radius: var(--radiusSmall);
  margin: var(--spaceSmall);
}

@mixin box-sizing-content-box() {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

@mixin button() {
  border-radius: var(--radiusMedium);
  padding: var(--spaceTopBotTextMedium) var(--spaceLeftRightTexBig);;
  text-transform: uppercase;
  font-size: var(--fontSizeMedium);
  font-weight: var(--bold);
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  color: var(--colorGrey);
  border: var(--borderxSmall) solid var(--colorGrey);
  background-color: var(--colorWhite);
  
  &:hover {
    color: var(--colorWhite);
    background-color: var(--colorGrey);
    cursor: pointer;
  }
}

@mixin hyphens(){
  word-break: break-word;
  @supports (hyphens: auto) {
    hyphens: auto
  }
}
