html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body,
blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

textarea:hover,
input:not([type='checkbox']):hover,
textarea:active,
input:not([type='checkbox']):active,
textarea:focus,
input:not([type='checkbox']):focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance:none;
}

textarea {
  resize: none;
}
