
.u-color-orange {
  background-color: var(--colorOrange);
}

.u-color-red {
  background-color: var(--colorRed);
}

.u-color-green {
  background-color: var(--colorGreen);
}

.u-color-light-green {
  background-color: var(--colorLightGreen);
}

.u-color-light-blue {
  background-color: var(--colorLightBlue);
}

.u-color-dark-blue {
  background-color: var(--colorDarkBlue);
}

.u-color-blue {
  background-color: var(--colorBlue);
}

.u-color-purple {
  background-color: var(--colorPurple);
}

.u-color-yellow {
  background-color: var(--colorYellow);
}
