
.u-color-orange {
  background-color: var(--colorOrange);
}

.u-align-center {
  display: flex;
  justify-content: center;
}

.u-margin-top-bottom {
  margin-bottom: var(--spaceLarge);
  margin-top: var(--spaceMedium);
}

.u-visibility-parent {
  
  .u-visibility-flex-child {
    //@include transitionAll;
    visibility: hidden;
    height: 0;
  }
  
  &:hover .u-visibility-flex-child {
    visibility: visible;
    height: auto;
  }
}
