
.u-color-orange {
  background-color: var(--colorOrange);
}

.u-align-center {
  display: flex;
  justify-content: center;
}

.u-text-center {
  text-align: center;
}

.u-display-flex {
  display: flex;
}

.u-display-right {
  display: flex;
  justify-content: flex-end;
}

.u-height-full {
  min-height: 80%;
}

.u-margin-top-bottom {
  margin-bottom: var(--spaceMedium);
  margin-top: var(--spaceLarge);
}

.u-margin-bottom{
  margin-bottom: var(--spaceMedium);
}

.u-visibility-parent {
  
  .u-visibility-flex-child {
    @include transitionAll;
    opacity: 0.2;
  }
  
  &:hover .u-visibility-flex-child {
    opacity: 1;
  }
}
