.u-display-none {
  display: none;
}

.u-display-hidden {
  visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.u-color-orange {
  background-color: var(--colorOrange);
}

.u-align-center {
  display: flex;
  justify-content: center;
}

.u-align-top {
  align-items: flex-start !important;
}

.u-text-center {
  text-align: center;
}

.u-display-flex {
  display: flex;
}

.u-display-right {
  display: flex;
  justify-content: flex-end;
}

.u-height-full {
  min-height: 80%;
}

.u-margin-top-bottom {
  margin-bottom: var(--spaceMedium);
  margin-top: var(--spaceLarge);
}

.u-margin-bottom{
  margin-bottom: var(--spaceMedium);
}

.u-margin-left-right {
  margin-left: var(--spaceMedium);
  margin-right: var(--spaceMedium);
}

.u-margin-top {
  margin-top: var(--spaceMedium);
}

.u-margin-top-small {
  margin-top: var(--spaceSmall);
}

.u-margin-top-large {
  margin-top: var(--spaceLarge);
}

.u-no-margin-top {
  margin-top: 0 !important;
}
