/**
 * Display
 */
.u-display-none {
  display: none;
}

.u-display-hidden {
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.u-display-flex {
  display: flex;
}

.u-display-right {
  display: flex;
  justify-content: flex-end;
}

/**
 * Color
 */
.u-color-orange {
  background-color: var(--colorOrange);
}

.u-color-green {
  color: var(--colorLightGreen);
}

.u-color-red {
  color: var(--colorRed);
}

/**
 * Align
 */
.u-align-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.u-align-space-between {
  display: flex;
  justify-content: space-between;
}

.u-align-space-around{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.u-align-top {
  align-items: flex-start !important;
}

.u-align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Align text
 */
.u-text-center {
  text-align: center;
}


/**
 * Height
 */
.u-height-full {
  min-height: 80%;
}

/**
 * Padding
 */
.u-padding-top {
  padding-top: var(--spaceMedium);
}

.u-no-padding {
  padding: 0;
}

/**
 * Margin
 */
.u-margin-around {
  margin: var(--spaceSmall) var(--spaceMedium);
}

.u-margin-top-bottom {
  margin-bottom: var(--spaceMedium);
  margin-top: var(--spaceLarge);
}

.u-margin-bottom{
  margin-bottom: var(--spaceMedium);
}

.u-margin-left-right {
  margin-left: var(--spaceMedium);
  margin-right: var(--spaceMedium);
}

.u-margin-small-left-right {
  margin-left: var(--spaceSmall);
  margin-right: var(--spaceSmall);
}

.u-margin-top {
  margin-top: var(--spaceMedium);
}

.u-margin-top-small {
  margin-top: var(--spaceSmall);
}

.u-margin-top-large {
  margin-top: var(--spaceLarge);
}

.u-no-margin-top {
  margin-top: 0 !important;
}

///////////////////////////////////
/**
 * Line count
 */
.u-lineCount-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: var(--lineHeight);
  max-height: var(--lineHeightForLines);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
