/**
 * Breakpoints
 */
:root {
  --md-viewport: 640px;
  --lg-viewport: 960px;
}

/**
 * Colors
 */
:root {
  --colorOrange: #fcba02;
  --colorRed: #ec5b56;
  --colorGreen: #398175;
  --colorLightGreen: #4ac5b6;
  --colorLightBlue: #a9d0d5;
  --colorDarkBlue: #475de4;
  --colorBlue: #3a83dc;
  --colorPurple: #7955e8;
  --colorYellow: #f8dd6b;
  --colorWhite: #ffffff;
  --colorBlack: #333333;
  --colorBrown: #6b5869;
  --colorGray: #f8f8ff;
  --colorLightGray: #cccccc;
}

/**
 * Fonts
 */
:root {
  --fontSizeSmall: 10px;
  --fontSizeMedium: 12px;
  --fontSize: 16px;
  --fontSizeHeader3: 24px;
  --fontSizeBig: 24px;
  --fontFamily: 'Ubuntu', sans-serif;
}

/**
 * Spacing
 */
:root {
  --spaceSmall: 10px;
  --spaceMedium: 25px;
  --spaceLarge: 50px;
}

/**
 * Spacing around
 */
:root {
  --spaceTopBotTextSmall: 7px;
  --spaceLeftRightTextSmall: 14px;
  --spaceTopBotTextMedium: 14px;
  --spaceLeftRightTexMedium: 28px;
}

/**
 * Border radius
 */
:root {
  --radiusSmall: 20px;
  --radiusMedium: 30px;
  --radiusLarge: 50px;
}

/**
 * Border width
 */
:root {
  --widthSmall: 2px;
  --widthMedium: 4px;
  --widthLarge: 50px;
}
