/**
 * Breakpoints
 */
:root {
  --md-viewport: 640px;
  --lg-viewport: 960px;
}

/**
 * Colors
 */
:root {
  --colorMain: #3f4af5;
  --colorOrange: #fcba02;
  --colorRed: #ec5b56;
  --colorGreen: #398175;
  --colorLightGreen: #4ac5b6;
  --colorLightBlue: #9dd7e5;
  --colorDarkBlue: #475de4;
  --colorBlue: #3a83dc;
  --colorPurple: #7955e8;
  --colorYellow: #f5cc22;
  --colorWhite: #ffffff;
  --colorBlack: #333333;
  --colorBrown: #6b5869;
  --colorGray: #f8f8ff;
  --colorGrey: #4d4d4d;
  --colorLightGray: #cccccc;
}

/**
 * Fonts
 */
:root {
  --fontSizeSmall: 10px;
  --fontSizeMedium: 12px;
  --fontSize: 16px;
  --fontSizeBig: 24px;
  --fontSizeLarge: 40px;
  --fontSizeHeader3: 24px;
  --lineHeight: 22px;
  --fontFamily: 'Ubuntu', sans-serif;
}

/**
 * Fonts weight
 */
:root {
  --bold: 600;
}

/**
 * Spacing
 */
:root {
  --spaceSmall: 10px;
  --spaceMedium: 25px;
  --spaceLarge: 50px;
}

/**
 * Spacing around
 */
:root {
  --spaceTopBotTextSmall: 7px;
  --spaceLeftRightTextSmall: 14px;
  --spaceTopBotTextMedium: 14px;
  --spaceLeftRightTexMedium: 28px;
  --spaceLeftRightTexBig: 52px;
}

/**
 * Border radius
 */
:root {
  --radiusSmall: 20px;
  --radiusMedium: 30px;
  --radiusMediumLarge: 40px;
  --radiusLarge: 50px;
}

/**
 * Border width
 */
:root {
  --borderxSmall: 1px;
  --borderSmall: 2px;
  --borderMedium: 4px;
  --borderLarge: 50px;
}

/**
 * Img size
 */
:root {
  --imgSmall: 50px;
  --imgMedium: 100px;
}
