<div class="Button Button--yellow u-margin-top-small feedback"
     data-feedback-user={{ offer.user.id }}
     data-feedback-advert={{ advert.id }}
     data-feedback-token={{ csrf_token("feedback-token") }}>
    <i class="fas fa-star"></i>
    Vertinti
</div>
