
// the ~ allows you to reference things in node_modules
//@import "~bootstrap/scss/bootstrap";

@import "helpers/reset";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/utilities";

@import "base/base";

@import "layout/content";
@import "components/filterBar";
@import "components/ads";
@import "components/ad";
@import "components/header";
@import "components/date";
@import "components/bid";
@import "components/category";
@import "components/button";
@import "components/pagination";
@import "components/comments";
@import "components/selectedAd";
@import "components/statusBlock";
@import "components/replayBlock";
@import "components/pageHeader";
@import "components/sectionBlock";
@import "components/Alert";
@import "components/Form";


@media (min-width: 600px) {
  @import "layout/content_medium";
  @import "components/ads_medium";
  @import "components/pagination-medium";
  @import "components/comments-medium";
  @import "components/selectedAd_medium";
  @import "components/statusBlock-medium";
  @import "components/pageHeader-medium";
  @import "components/sectionBlock-medium";
}

@media (min-width: 1200px) {
  @import "layout/content_large";
  @import "components/ads_large";
  @import "components/pagination-large";
  @import "components/comments-large";
  @import "components/selectedAd_large";
  @import "components/statusBlock-large";
  @import "components/pageHeader-large";
  @import "components/sectionBlock-large";
}
