@import "helpers/reset";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/utilities";
@import "base/base";

@import "layout/content";
@import "components/filterBar";
@import "layout/layoutGrid";
@import "layout/layoutLine";
@import "components/ad";
@import "components/header";
@import "components/date";
@import "components/bid";
@import "components/category";
@import "components/button";
@import "components/pagination";
@import "components/comments";
@import "components/selectedAd";
@import "components/statusBlock";
@import "components/replayBlock";
@import "components/sectionBlock";
@import "components/alert";
@import "components/form";
@import "layout/header";
@import "components/message";
@import "components/avatarContainer";
@import "layout/components";
@import "components/statusBar";
@import "components/switch";
@import "components/column";
@import "components/starRating";
@import "components/modal";
@import "components/review";
@import "components/spinner";



@media (min-width: 600px) {
  @import "layout/content_medium";
  @import "layout/layoutGrid_medium";
  @import "layout/layoutLine_medium";
  @import "components/pagination_medium";
  @import "components/comments_medium";
  @import "components/selectedAd_medium";
  @import "components/statusBlock_medium";
  @import "components/sectionBlock_medium";
  @import "components/form_medium";
  @import "layout/header_medium";
}

@media (min-width: 1200px) {
  @import "layout/content_large";
  @import "layout/layoutGrid_large";
  @import "layout/layoutLine_large";
  @import "components/ad_large";
  @import "components/pagination_large";
  @import "components/comments_large";
  @import "components/selectedAd_large";
  @import "components/statusBlock_large";
  @import "components/sectionBlock_large";
  @import "components/form_large";
  @import "layout/header_large";
  @import "components/column_large";
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

// Style your items
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 15px;
}
