.Ad {
  width: 100%;
  @include shadowBlockForm();
  height: 500px;
  display: flex;
  flex-direction: column;
  
  &-header {
	display: flex;
	justify-content: space-between;
	font-size: var(--fontSizeSmall);
  }
  
  &-body {
	flex-grow: 1;
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
  }
  
  &-text--top {
	align-self: flex-start;
	flex-grow: 1;
  }
  
  &-footer--bottom {
	align-self: flex-end;
  }
  
  &-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0;
  }
  
  &--single {
	width: auto;
  }
  
}
