.Ad {
  @include shadowBlockForm();
  //display: flex;
  flex-direction: column;
  flex: 1;
  
  &-header {
	display: flex;
	justify-content: space-between;
	font-size: var(--fontSizeSmall);
  }
  
  &-body {
	flex-grow: 1;
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
  }
  
  &-text {
	
	p {
	  @include hyphens();
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  line-height: var(--lineHeight);
	  max-height: var(--lineHeightForLines);
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 4;
	}
  }
  
  &-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
  }
  
  &-link {
	@include transitionAll();
	cursor: pointer;
	
	&:hover {
	  @include box-shadow-hover();
	}
  }
  
  &-text--top {
	align-self: flex-start;
	flex-grow: 1;
  }
  
  &--single {
	width: auto;
  }
  
}
