.Ad {
  @include shadowBlockForm();
  height: 500px;
  display: flex;
  flex-direction: column;
  
  &-header {
	display: flex;
	justify-content: space-between;
	font-size: var(--fontSizeSmall);
  }
  
  &-body {
	flex-grow: 1;
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
  }
  
  &-text {
	
	p {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  line-height: var(--lineHeight);
	  max-height: var(--lineHeightForLines);
	  -webkit-line-clamp: 4;
	  -webkit-box-orient: vertical;
	  
	}
  }
  
  &-text--top {
	align-self: flex-start;
	flex-grow: 1;
  }
  
  &-footer--bottom {
	align-self: flex-end;
  }
  
  &-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0;
  }
  
  &--single {
	width: auto;
  }
  
}
