.Alert {
  @include shadowBlockForm();
  width: var(--full-size);
  margin: var(--spaceSmall) 0;
  background-color: var(--colorWhite);
  box-shadow: none;
  border: var(--borderSmall) solid var(--colorBlack);
  
  &-succsess{
  
  }
  
  &-icon {
    display: flex;
    align-items: center;
    
    img {
      height: 30px;
      padding-right: var(--spaceSmall);
    }
  }
}


