.Button {
  @include transitionAll;
  @include button();
  box-sizing: padding-box;
  
  &--blue {
    background-color: var(--colorMain);
    border: none;
    color: var(--colorWhite);
  }
  
  &--google {
    display: inline-block;
    //background-color: var(--colorLightBlue);
    //border: none;
    //color: var(--colorWhite);
  }
  
  &--fb {
    display: inline-block;
    background-color: var(--colorRed);
    border: none;
    color: var(--colorWhite);
  }
  
  &--short {
    width: 80%;
  }
  
  &--long {
    width: 100%;
  }
  
}

