.Comments {
  @include shadowBlockForm();
  display: block;
  margin: var(--spaceSmall) 0;
  
  &-block{
    display: flex;
    justify-content: flex-start;
  }
  
  &-image {
    border-radius: var(--radiusLarge);
    img {
      max-width: var(--imgSmall);
      height: var(--imgSmall);
      overflow: hidden;
      border-radius: var(--radiusLarge);
      border-width: var(--borderSmall);
      border-color: var(--colorLightGray);
      border-style: solid;
    }
  }
  
  &-name {
    @include hyphens();
    overflow: hidden;
    text-decoration:none;
    color: var(--colorBlack);
    font-size: var(--fontSizeSmall);
    text-transform: uppercase;
  }
  
  &-author {
    font-weight: var(--bold);
    margin-bottom: var(--spaceTopBotTextSmall);
  }
  &-content{
	width: 100%;
  }
  
  &-header {
    color: var(--colorGrey);
    display: flex;
    justify-content: space-between;
    
    &--center {
      align-items: center;
    }
  }
  
  &-text{
    padding-top: var(--spaceTopBotTextMedium);
    padding-bottom: var(--spaceTopBotTextMedium);
  }
  
  &-replayBlock {
    @include shadowBlockForm();
  }
  
  &.not-active {
    opacity: 0.3;
  }
  
  &--bgDarker {
    background-color: var(--colorGray);
  }
}
