.Form {
  @include shadowBlockForm();
  width: 100%;
  
  &-avatar {
	
	img {
	  height: 150px;
	  overflow: hidden;
	  border-width: var(--borderMedium);
	  border-style: solid;
	  border-color: var(--colorBlack);
	  border-radius: var(--radiusFull);
	}
  }
  
  &-errors {
	ul {
	  padding: 0;
	  margin: 0;
	}
	
	li,
	span {
	  padding-left: var(--spaceSmall);
	  list-style: none;
	  font-size: var(--fontSizeMedium);
	  color: var(--colorRed);
	}
  }
  
  &-item {
  
	&.is-error {
	  input {
		border-color: var(--colorRed) !important;
	  }
	}
	
	input,
	label,
	select,
	textarea {
	  margin-top: var(--spaceMedium);
	  margin-bottom: var(--spaceSmall);
	  padding-left: var(--spaceSmall);
	}
	
	input,
	label,
	select {
	  padding: var(--spaceTopBotTextMedium) var(--spaceTopBotTextMedium);
	}
	
	select {
	  font-family: inherit;
	  font-size: inherit;
	  color: inherit;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  appearance: none;
	  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	  background-repeat: no-repeat, repeat;
	  background-position: right .7em top 50%, 0 0;
	  background-size: .65em auto, 100%;
	  
	  &:focus {
		outline: none;
	  }
	}
	
	input,
	textarea,
	select {
	  display: inline;
	  width: 100%;
	  border-radius: var(--radiusSmall);
	  border-width: var(--borderSmall);
	  border-style: solid;
	  border-color: var(--colorBlack);
	}
	
	label {
	  position: absolute;
	  transform-origin: top left;
	  transition: all .1s ease-in-out;
	  pointer-events: none;
	}
  }
  &-item.active label {
	transform: translate(0px, var(--fontSizeLargeMinus)) scale(.75);
  }
  
  &-item.active label,
  &-label {
	text-transform: uppercase;
	font-weight: var(--bold);
  }
  &-label {
	font-size: var(--fontSizeMedium);
	padding-left: var(--spaceSmall);
  }
}
