.Header {
  
  padding-bottom: var(--spaceSmall);
  border-bottom: 1px solid var(--colorLightGray);
  margin-bottom: var(--spaceSmall);
  word-break: break-all;
 
  &--single {
    border-bottom: none;
  }
}




.Header4{
  text-align: center;
  font-size: var(--fontSize);
  letter-spacing: 0.1px;
  color: var(--colorBlack);
  padding-top: var(--spaceMedium);
  padding-bottom: var(--spaceMedium);
  
  a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: var(--bold);
    color: var(--colorMain);
    
    &:hover {
      color: var(--colorBlack);
    }
  }
}
