.Header {
  padding-top: var(--spaceMedium);
  padding-bottom: var(--spaceSmall);
  border-bottom: 1px solid var(--colorLightGray);
  margin-bottom: var(--spaceSmall);
  word-break: break-all;
}

.Header--single {
  border-bottom: none;
}
