.SectionBlock{
  align-items: center;
  
  &-content {
	width: auto;
	order: 2;
  }
  &-img {
	display: block;
	order: 1;
	width: var(--full-size);
	text-align: center;
 
	img {
	  width: 80%;
	}
  }
}
