.StarRating{
  .fa,
  i {
    font-weight: normal;
    font-size: var(--fontSizeBig);
  }
  
  i {
    padding-left: var(--spaceTiny);
  }
  
  .fa.checked {
    font-weight: bold;
  }
  
  &-star {
  
    &.checked {
      color: var(--colorYellow);
    }
  }
  
  &--small {
    .fa {
      font-size: var(--fontSize);
    }
  }
}

