<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<p>Sveiki, jūsų el.paštu {{ email }} buvo pateikta prisijungimo užklausa</p>
<p>Paspauskite šią nuorodą ir jūs būsite prijungti prie sistemos: <a href="{{ loginUrl }}">{{ loginUrl }}</a></p>

</body>
</html>