{% extends 'base.html.twig' %}

{% block body %}

    <div class="Content">
        <div class="Content-Block">
            {% block intro %}{% endblock %}
        </div>
    </div>
    <div class="Content Content--GreyBg">
        <div class="Content-Block">
            {% block filter %}{% endblock %}

            {% block ads %}{% endblock %}
        </div>
    </div>

{% endblock %}
