.Content {
  padding: var(--spaceMedium);
  padding-top: 0;
  
  &--GreyBg {
    background:  var(--colorGray);
    min-height: var(--screen-height);
  }
  
  &-Block {
    width: 100%;
    margin: auto;
  }
}


