.Content {
  
  &-Fixed {
    position: absolute;
    width: 100%;
  }
  
  &--top {
    min-height: var(--screen-height);
    padding-top: 160px;
  }
}

.Content--GreyBg {

}

.Content-Block {
  width: 1100px;
}
