.Content {
  
  &-Fixed {
    position: absolute;
    width: var(--full-size);
  }
  
  &--top {
    padding-top: 160px;
  }
  
  &--dialog {
    padding-top: 160px;
    height: 0;
  }
}

.Content-Block {
  
  max-width: 1100px;
}
