.Content {
  padding: var(--spaceMedium);
  padding-top: 0;
  
  &--GreyBg {
    background:  var(--colorGray);
    min-height: var(--screen-height);
    //background: linear-gradient(0deg,  var(--colorGray) 80%,  var(--colorWhite) 80%);
  }
  
  &-Block {
    width: 100%;
    margin: auto;
  }
}


