.LayoutGrid {
  display: block;
  
  &-item {
    @include shadowBlockForm();
	width: var(--full-size);
	flex-direction: column;
	flex: 1;
    
    &--link {
      @include transitionAll();
      	cursor: pointer;

      	&:hover {
      	  @include box-shadow-hover();
      	}
    }
  }
  
  &-footer {
	visibility: hidden;
  }
}
