.LayoutLine {
  
  &-item {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  
  &-imageGallery {
    width: 400px;
  }
  
  &-col-1 {
    flex: 1;
  }
  &-col-2 {
    flex: 2;
  }
  &-col-3 {
    flex: 3;
  }
  &-col-4 {
    flex: 4;
  }
  &-col-5 {
    flex: 5;
  }
  &-col-6 {
    flex: 6;
  }
  &-col-7 {
    flex: 7;
  }
  &-col-8 {
    flex: 8;
  }
  &-col-9 {
    flex: 9;
  }
  
  &--columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
}
