.LayoutGrid {
  grid-template-columns: repeat(3, 1fr);
  
  &--single {
    grid-template-columns: none;
  }
  
  &--col2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  &--col3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

