.LayoutLine {
  
  text-align: center;
  &-item {
    @include shadowBlockForm();
    @include transitionAll();
    margin: 0;
	display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: var(--spaceMedium);
  
    &--fullWidth {
      @include shadowBlockForm();
      width: var(--full-size);
    }
    
    &--link {
      cursor: pointer;
      
      &:hover {
        @include box-shadow-hover();
      }
    }
  }
  &-imageGallery {
    width: 100%;
  }
  &--flex {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  &--columns {
    display: block;
    align-items: center;
    width: var(--full-size);
    flex-direction: column;
    margin: 0;
    margin-bottom: var(--spaceMedium);
  }
}
