.LayoutLine {
  
  text-align: center;
  &-item {
    @include shadowBlockForm();
    @include transitionAll();
    margin: 0;
	display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: var(--spaceMedium);
  
    &--fullWidth {
      @include shadowBlockForm();
      width: 100%;
    }
    
    &--link {
      cursor: pointer;
      
      &:hover {
        @include box-shadow-hover();
      }
    }
  }
  &--flex {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
}
