.LayoutLine {
  
  &-item {
    @include shadowBlockForm();
    @include transitionAll();
    margin: 0;
	display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: var(--spaceMedium);
    
    
    &--link {
      cursor: pointer;
      
      &:hover {
        @include box-shadow-hover();
      }
    }
  }
  
}
