<section id="FilterBar">

    <ul class="FilterBar">
        <li>
            <a class="Category Category--filter">
                <span class="Filter-title">Aktyvūs</span>
            </a>
        </li>
        <li>
            <a class="Category Category--filter">
                <span class="Filter-title">Neįvertinti</span>
            </a>
        </li>
        <li>
            <a class="Category Category--filter">
                <span class="Filter-title">Buvę</span>
            </a>
        </li>
    </ul>
</section>
