<div class="Content">
    <div class="Content-Block">
            <section class="SectionBlock">
                <div class="SectionBlock-content">
                    <h1>Ieškok, kas tau padarytų darbą!</h1>
                    <p class="SectionBlock-text">
                        Ieškai, kas galėtų atlikti darbą, bet nežinai kur kreiptis? Nežinai, kuris kandidatas geriausias? Užsuk ir įkelk savo skelbimą, darbas bus atliktas!
                    </p>
                    <div class="u-display-flex">
                        <a class="Button Button--blue u-margin-top-bottom" href="#FilterBar">Plačiau</a>
                    </div>
                </div>
                <div class="SectionBlock-img">
                    <img src="img/intro.png"/>
                </div>
            </section>
    </div>
</div>
