{% extends 'base.html.twig' %}

{% block title %}Naujas skelbimas{% endblock %}

{% block body %}

    <div class="Content Content--GreyBg">
        <div class="Content-Block">
            <div>įkelti naują skelbimą</div>
        </div>
    </div>

{% endblock %}
