{#27.0.0.1:8000/index.php/_error/500#}
{% extends 'base.html.twig' %}

{% block body %}

<div class="Content Content--top">
    <div class="Content-Block">
    </div>
</div>

<div class="Content Content--GreyBg">
    <div class="Content-Block u-padding-top">

        <div class="u-text-center u-padding-top">
            <img class="Image--center" alt="mistake" src="/img/i-am-sorry.png" />
            <div class="u-margin-top">
                <h3>Ups! Kai kas nesuplanuoto</h3>
                <p>Visi mes darom klaidų</p>
            </div>
            <div class="u-margin-top">
                <a href="/" class="Button Button--blue">Į pagrindinį</a>
            </div>
        </div>
    </div>
    {% endblock %}
