{#27.0.0.1:8000/index.php/_error/404#}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="Content Content--top">
        <div class="Content-Block">
        </div>
    </div>

    <div class="Content Content--GreyBg">
        <div class="Content-Block u-padding-top">

            <div clas="Form Form--column u-padding-top">

                <div class="Form-image">
                    <img alt="404" src="/img/man-desk.png" />
                </div>

                <div class="Form-content">
                    <h1>404 KLAIDA!</h1>
                    <p>Puslapis, kurio ieškai,neegzistuoja!</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
