.PageHeader {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &-logo {
    position: relative;
  }
  
  &-item {
    visibility: visible;
    text-transform: uppercase;
    padding-left: var(--spaceLarge);
    letter-spacing: 0.3px;
    a {
      text-decoration: none;
    }
  }
}
