.Splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
  z-index: 1;
  
  &::after {
	content:"";
	display:block;
	position:absolute;
	border-radius:50%;
	background-color:var(--colorMain);
	
	width:284vmax;
	height:284vmax;
	top:-142vmax;
	left:-142vmax;
	
	transform: scale(0);
	transform-origin:50% 50%;
	transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
	
	will-change:transform;
  }
}
