.Button {
  @include transitionAll;
  @include button();
  box-sizing: padding-box;
  
  &--blue {
    background-color: var(--colorMain);
    border: none;
    color: var(--colorWhite);
  }
  
  &--google {
    display: inline-block;
  }
  
  &--fb {
    display: inline-block;
    background-color: var(--colorRed);
    border: none;
    color: var(--colorWhite);
  }
  
  &--short {
    width: 80%;
  }
  
  &--long {
    width: 100%;
  }
  
  &--smallPadding {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  &--empty{
    border: none;
    font-weight: var(--bold);
    background: transparent;
    
    &:hover {
      background: transparent;
      color: var(--colorMain)
    }
  }
  &--50{
    width: 48%;
  }
  
  &--default {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    border-color: var(--colorMediumGrey);
    color: var(--colorMediumGrey);
  }
  
  &--red {
    border-color: var(--colorRed);
    color: var(--colorRed);
    
    &:hover {
      background-color: var(--colorRed);
    }
  }
  
  &--yellow {
    border-color: var(--colorYellow);
    color: var(--colorYellow);
  
    &:hover {
      background-color: var(--colorYellow);
    }
  }
  
}

