<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <p>Sveikiname prisijungus prie Workchase platformos!</p>
    <p>Įkelkite savo skelbimą ir laukite pasiūlymų.</p>

</body>
</html>
