<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <p>Sveikiname prisijungus prie Workchase platformos!</p>
    <p>Patvirtkinkite savo registarciją paspaudę šią <a href="{{ absolute_url(path('login_with_hash', {'hash': loginUrl}))}}">nuorodą</a>.</p>

</body>
</html>
