{% extends 'base.html.twig' %}

{% block body %}

    <div class="Content Content--top Content--GreyBg ">
        <div class="Content-Block">

            <section class="Form Form--column u-align-top">
                <div class="Column-3">
                    <div class="Form-avatar u-align-center u-margin-bottom u-col-3">
                        <img src="/img/user1.png" alt="user-avatar" >
                    </div>
                    <div class="StarRating u-align-center">
                        <span class="StarRating-star fa fa-star checked"></span>
                        <span class="StarRating-star fa fa-star checked"></span>
                        <span class="StarRating-star fa fa-star checked"></span>
                        <span class="StarRating-star fa fa-star"></span>
                        <span class="StarRating-star fa fa-star"></span>
                    </div>
                </div>
                <div class="Column-3 Column-3--longer u-margin-left-right u-margin-top">
                    <h3>Vardenis Pavardenis</h3>
                    <p class="u-margin-top">Esu universalus meistras , atlieku vidaus apdailos, elektros ir santechnikos darbus. Ieškau papildomo darbo, laisvu nuo kasdienės dienotvarkės metu.
                        Kasdienė dienotvarkė.</p>
                </div>
                <div class="Column-3 u-margin-top">
                    <div>
                        <h4>Kontaktai</h4>
                        <p>Vilnius</p>
                        <p>manoelpastas@gmail.com</p>
                    </div>
                    <div>
                        <h4 class="u-margin-top">Dirbu srityse</h4>
                        <ul class="Ad-categories Ad-categories--left">
                            <li class="Category Category--black not-active">Santechnika</li>
                            <li class="Category Category--black not-active">Santechnika</li>
                        </ul>
                    </div>

                </div>
            </section>

            <h3 class="u-margin-top-large">Atsiliepimai</h3>

            <section class="LayoutGrid">
                    <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                    <span class="Comments-image">
                                        <img src="/img/user1.png" alt="user">
                                    </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star"></span>
                                        <span class="StarRating-star fa fa-star"></span>
                                    </span>
                                    <span class="Comments-date">2019-09-09</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">Vardenis Pavardenis</div>
                                    <p>Siūlau dažymo paslaugas, 1 m2 kaina - 30eur. Siūlau dažymo  paslaugas,1 m2 kaina - 30eur.Siūlau dažymo paslaugas, 1 m2 kaina - 30eur.</p>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                    <span class="Comments-image">
                                        <img src="/img/user1.png" alt="user">
                                    </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star checked"></span>
                                        <span class="StarRating-star fa fa-star"></span>
                                        <span class="StarRating-star fa fa-star"></span>
                                    </span>
                                    <span class="Comments-date">2019-09-09</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">Vardenis Pavardenis</div>
                                    <p>Siūlau dažymo paslaugas, 1 m2 kaina - 30eur. Siūlau dažymo  paslaugas,1 m2 kaina - 30eur.Siūlau dažymo paslaugas, 1 m2 kaina - 30eur.</p>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="Comments">
                        <section class="Comments-block">
                            <div class="Comments-content">
                                <div class="Comments-header Comments-header--center">
                                        <span class="Comments-image">
                                            <img src="/img/user1.png" alt="user">
                                        </span>
                                    <span class="StarRating StarRating--small u-align-center">
                                            <span class="StarRating-star fa fa-star checked"></span>
                                            <span class="StarRating-star fa fa-star checked"></span>
                                            <span class="StarRating-star fa fa-star checked"></span>
                                            <span class="StarRating-star fa fa-star"></span>
                                            <span class="StarRating-star fa fa-star"></span>
                                        </span>
                                    <span class="Comments-date">2019-09-09</span>
                                </div>
                                <div class="Comments-text">
                                    <div class="Comments-author">Vardenis Pavardenis</div>
                                    <p>Siūlau dažymo paslaugas, 1 m2 kaina - 30eur. Siūlau dažymo  paslaugas,1 m2 kaina - 30eur.Siūlau dažymo paslaugas, 1 m2 kaina - 30eur.</p>
                                </div>
                            </div>
                        </section>
                    </section>
            </section>

        </div>
    </div>

{% endblock %}
